# Godot 4+ specific ignores
.godot/
/android/
/Release/
back_up/
/saves/
/addons/
/.vscode/
/python_old/
/log/
/mods/
.vscode/
.codebuddy/
*.bak
*.uid
*.gd.bak
*.gd.uid
*.tmp
*.import
*.editorconfig
*.cfg